%h3.admin-title Admin - Articles
.span3
  .well
    .nav= link_to "Create New Article", new_admin_article_path
.span8
  %table.table.table-striped
    %thead
      %tr
        %th id
        %th Title
        %th Published?
        %th Publish
    %tbody
      - @articles.each do |article|
        %tr
          %td= article.id
          %td= link_to article.title, admin_article_path(article)
          %td{id: "article_#{article.id}"}
            - if article.published?
              Yes
            - else
              No
          %td
            = form_for [:admin, article], remote: true do |f|
              = f.check_box :published, as: :boolean
              - f.submit