%h1= @article.title
%div
  = @article.content.html_safe

%ul
  - @article.comments.each do |comment|
    %li= comment.body
    - if can? :delete, comment
      = link_to "Delete Comment", article_comment_path(comment.article.id, comment.id), confirm: "Delete Comment?", :method => :delete
    - if current_user == comment.user
      = link_to "Edit Comment", edit_article_comment_path(comment.article.id, comment.id)

- if current_user
  = render "comments/new_comment"
- else
  %h3 To add comments please login or sign up, thanks!
  = link_to "Sign Up", new_user_registration_path