.container-fluid
%section.intro
%section.about
%section.contact
  = form_tag "/home/contact" do
    = text_field_tag "name", nil, placeholder: "Name"
    %span#spam_email
      = text_field_tag "email", nil
    = text_field_tag "email_2", nil,  placeholder: "Email"
    = text_area_tag "message", nil, placeholder: "Message"
    = submit_tag "Send Message"