.container-fluid
%section#intro
  .span7
    %p.greeting Hello
    %br
    %p.greeting 
      My Name is  
      %em Nikhil Hira
    %br
    %p.greeting 
      I'm a 
      %em Ruby on Rails
    %br
    %p.greeting Developer
    %br
    %p.greeting in
    %br
    %p.greeting 
      %em San Francisco
%section#about
  .span5
    %p.section-title ABOUT ME
    %p From learning to fly planes at the age of 19 to pursuing careers in finance and marketing, I've always loved the challenge and excitment of learning something new. My love of learning was one of the big reasons I decided to pursue my growing interest in development as a full time endeavor and it continues to fuel my drive forward.

    %p That drive led me from my home in Tampa Florida to Code Academy in Chicago, where for three months I built a foundation in full stack web development in Ruby on Rails. After attending Code Academy I moved to San Francisco where I joined the web team at thredUP.com, one of the leading startups in the online clothing consignment space. During my time there I helped build new features for the companies client facing app while continually adding to and sharpening my skills to bring more value to my team and company.

    %p
      I'm currently looking for a new opportunity to join a team of developers who value learning, growth and enjoy sharing knowledge amongst one another. If your team has room for a developer like me, please don't hesitate to 
      = link_to 'contact me.', anchor: "contact"
  .span3
    = image_tag('me.jpg')
%section#skills
  %p.section-title SKILLS
  .span12
    %ul.left
      %ul.icons
        %li
          %i.icon-road
        %li
          %i.icon-html5
        %li
          %i.icon-keyboard
        %li
          %i.icon-coffee
        %li
          %i.icon-chevron-right
      %li
        
        %strong Ruby on Rails:
        Doing full-stack development withing a large code base.
      %li
        %strong HAML / HTML:
        Coding dynamic and static UI’s.
      %li
        %strong Pair Programming:
        Pairing with fellow developers to share knowledge and write efficient, bug-free code.
      %li
        %strong Javascript / Coffeescript:
        Integrating JS/CS to create dynamic and interactive UI’s.
      %li
        %strong Backbone:
        Limited but growing experience building front end functionality with BackBone.
    %ul.right
      %ul.icons.second-set
        %li
          %i.icon-ok
        %li
          %i.icon-css3
        %li
          %i.icon-sitemap
        %li
          %i.icon-code-fork
        %li
          %i.icon-refresh
      %li
        %strong RSpec:
        Understanding of TDD process using RSpec.
      %li
        %strong SASS / CSS3:
        Styling UI’s with an eye for detail and staying true to designs.
      %li
        %strong MySQL:
        Building new model schemas.
      %li
        %strong Git:
        Github, reviewing and making pull requests, Git branching strategies.
      %li
        %strong Agile Development:
        Working with Asana story backlogs, development sprints, scrum, and biweekly retro.
%section#contact
  %p.section-title
    %i.icon-envelope
    GET IN TOUCH
  .span5
    = form_tag "/home/contact" do
      = text_field_tag "name", nil, placeholder: "Name"
      %span#spam_email
        = text_field_tag "email", nil
      = text_field_tag "email_2", nil,  placeholder: "Email"
      = text_area_tag "message", nil, placeholder: "Message"
      = submit_tag "Send Message", class: 'btn btn-primary'
  .span5
    %p
      I'm currently looking to join a team of developers as an apprentice or junior developer. I love working with developers who are always learning and who enjoy sharing their knowledge with others. If your team has room for a developer like me please get in touch.