= link_to root_path, :class => 'brand' do
  D
  %span
    X
  YPHER
%ul.nav
  %li
    = link_to "Top", anchor: "intro"
  %li
    = link_to 'Blog', blog_path
  %li
    = link_to 'About Me', anchor: "about"
  %li
    = link_to "Skills", anchor: "skills"
  %li
    = link_to 'Contact', anchor: "contact"
  %li
    = link_to 'http://www.linkedin.com/in/nikhilhira/' do
      %i.icon-linkedin-sign
  %li
    = link_to 'https://github.com/dxypher' do
      %i.icon-github-alt
