!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
		%meta{:author => "Nikhil Hira"}
		%title= content_for?(:title) ? yield(:title) : "Nikhil Hira - Ruby on Rails"
		= stylesheet_link_tag    "application", :media => "all"
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield(:head)
	%body{class: "#{controller_name} #{action_name}"}
		%header.navbar.navbar-fixed-top
			%nav.navbar-inner
				.container
					= render 'layouts/navigation'
		#main{:role => "main"}
			- if controller_name == "home"
				.container-fluid
					.content
						.row-fluid
							= render "layouts/application"
			- else
				.container
					.content
						.row
							= render "layouts/application"